/* Global Styles */
body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #fff7ed;
	color: #333;
  }
  a {
	text-decoration: none;
	color: inherit;
  }
  button {
	cursor: pointer;
  }
  
  /* Header */
  .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: #db750e;
	color: #fff;
  }
  .logo {
	display: flex;
	align-items: center;
	gap: 1rem;
  }
  .logo img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
  }
  .nav a {
	margin: 0 1rem;
	font-weight: bold;
  }
  .nav a:hover {
	text-decoration: underline;
  }
  
  /* Hero */

  .bgimage{
	background-image: url("images/background.jpg");
	background-size: auto;
	background-attachment: fixed;
	padding: 10px;
  }

  .hero {
	text-align: center;
	padding: 4rem 2rem;
	color: black;
  }

  .sak{
	color:#333;
  }

  .hero h2 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
  }
  .hero p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
  }
  .btn {
	background-color: #fd9935;
	color: #fff;
	padding: 0.8rem 1.5rem;
	border: none;
	border-radius: 8px;
	font-weight: bold;
  }
  .btn:hover {
	background-color: #fd9935;
  }
  
  /* Sections */
  .about, .menu, .contact, .order {
	padding: 2rem;
	text-align: center;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  .menu .card {
	display: inline-block;
	margin: 1rem;
	padding: 1rem;
	border: 2px solid #ff8303;
	border-radius: 8px;
	background-color: #fff;
	text-align: center;
  }
  .menu .card img {
	width: 100%;
	max-width: 200px;
	margin-bottom: 1rem;
  }
  
  /* Footer */
  .footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1rem;
	font-size: 0.9rem;
  }
  .footer a {
	color: #ffd369;
  }
  
 /*ordering page*/
